

<!DOCTYPE html>
<html lang="en" ng-app="searchApp">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css">
      <link rel="icon" href="logob_6vX_icon.ico" type="image/x-icon" />
      <link rel="stylesheet" type="text/css" href="assets/jquery.autocomplete.css"/>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="assets/jquery.autocomplete.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js"></script>
      <title>Ovation Properties</title>
      <link rel="icon" href="logob_6vX_icon.ico" type="image/x-icon" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />

      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js
      "></script>
      <link href="materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
      <link href="select2.min.css" rel="stylesheet" />
      <link href="design.css" rel="stylesheet">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
      <script type="text/javascript" src="reloadHeaderText.js"></script>
      <script src="https://cdn.rawgit.com/khalidsalomao/simple-query-string/22cc5bbe/src/simplequerystring.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
      <script src="https://cdn.rawgit.com/khalidsalomao/simple-query-string/22cc5bbe/src/simplequerystring.min.js"></script>
      <script type="text/javascript">

      setTimeout(function(){
        $(function() {
          
          var states = [
            'Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
            'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 
            'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 
            'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 
            'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 
            'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
            'New Jersey', 'New Mexico', 'New York', 'North Carolina', 
            'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 
            'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 
            'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 
            'West Virginia', 'Wisconsin', 'Wyoming'
          ];

          $("#search").autocomplete({
            source:[states]
          }); 
        });
      })

      if(localStorage.getItem('neighborhood'))  {
          localStorage.removeItem('neighborhood');
        }
  
      if(localStorage.getItem('proptype')) {
        localStorage.removeItem('prop')
      }

      function addCommas(nStr) {
        return test(nStr);
        // nStr += '';
        // var x = nStr.split('.');
        // var x1 = x[0];
        // var x2 = x.length > 1 ? '.' + x[1] : '';
        // var rgx = /(\d+)(\d{3})/;
        // while (rgx.test(x1)) {
        //   x1 = x1.replace(rgx, '$1' + ',' + '$2');
        // }
        // return x1 + x2;
      }


function test (labelValue) {

    // Nine Zeroes for Billions
    return Math.abs(Number(labelValue)) >= 1.0e+9

    ? Math.abs(Number(labelValue)) / 1.0e+9 + "B"
    // Six Zeroes for Millions 
    : Math.abs(Number(labelValue)) >= 1.0e+6

    ? Math.abs(Number(labelValue)) / 1.0e+6 + "M"
    // Three Zeroes for Thousands
    : Math.abs(Number(labelValue)) >= 1.0e+3

    ? Math.abs(Number(labelValue)) / 1.0e+3 + "K"

    : Math.abs(Number(labelValue));

}


      angular.module('searchApp', [])
        .controller('AppController', function($scope, $http) {
          $scope.navigate = function(id) {
            console.log(id)
            window.location.href="/detail.html?id=" + id;
          }

          debugger;

          if($("body").width() > 767) {
            $scope.isDesktop = true;
          } else {
            $scope.isDesktop = false;
          }

         $scope.featuredListings;
         $http.get('https://wt-9a06f86b30413aa2d4c274a7b017231e-0.run.webtask.io/empty-function').then(function(res){
            var featuredListings = res.data.featuredListings
            var baseUrlStart = "https://h3n.mlspin.com/photo/photo.aspx?nopadding=1&h=768&w=1024&mls="
            var baseUrlEnd = "&o=&n="

            for (var i = 0; i < featuredListings.length; i++ ) {
               featuredListings[i].LIST_PRICE = addCommas(featuredListings[i].LIST_PRICE);
               featuredListings[i].REMARKS = featuredListings[i].REMARKS.replace(/\uFFFD/g, '');

//        listings[i].imageSourceOne = baseUrlStart + listings[i].LIST_NO + baseUrlEnd + 0;
               featuredListings[i].imageSourceOne = baseUrlStart + featuredListings[i].LIST_NO + baseUrlEnd + 0;

            }

            $scope.featuredListings = featuredListings;

            $scope.featuredListingsRowA = [featuredListings[0], featuredListings[1], featuredListings[2]]
            $scope.featuredListingsRowB = [featuredListings[3], featuredListings[4], featuredListings[5]]
         });
        });

      </script>
   </head>
   <body ng-controller="AppController">
   <style type="text/css">


.xdsoft_autocomplete {
  width: 100% !important;
}

.xdsoft_autocomplete_hint {
  width: 100% !important;
}

      @media (max-width: 765px) {
        .mobile-search {
          padding-left: 15px !important;
          padding-right: 15px !important;
        }

        .mobile {
          display: none;
        }
      }

      .slider-form {
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .card span {
        color: black;
        margin-right: 6px;
      }

      .card-footer {
        font-size: 12px;
      }


      i {
         color: #142932
         /*color: white;*/
      }
   </style>
<!--
<div class="ui search">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="Common passwords...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
-->
<script>
$(document).ready(function(){
   update();   
});

function update() {

$('.ui.search')
  .search({
    type          : 'category',
    minCharacters : 3,
    apiSettings   : {
      onResponse: function(githubResponse) {
        var
          response = {
            results : {}
          }
        ;
        // translate GitHub API response to work with search
        $.each(githubResponse.items, function(index, item) {
          var
            language   = item.language || 'Unknown',
            maxResults = 8
          ;
          if(index >= maxResults) {
            return false;
          }
          // create new language category
          if(response.results[language] === undefined) {
            response.results[language] = {
              name    : language,
              results : []
            };
          }
          // add result to category
          response.results[language].results.push({
            title       : item.name,
            description : item.description,
            url         : item.html_url
          });
        });
        return response;
      },
      url: '//api.github.com/search/repositories?q={query}'
    }
  });
}
</script>



      <!-- Navbar -->
<section class="osahan-slider">
         <div id="osahanslider" class="carousel" data-ride="">

            <ol class="carousel-indicators">
               <li data-target="#osahanslider" data-slide-to="0" class="active"></li>
               <li data-target="#osahanslider" data-slide-to="1"></li>
            </ol>

            <a class="carousel-control-prev" href="#osahanslider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#osahanslider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>

<style type="text/css">
@media (min-width: 1600px) {
  .large-desktop {
    padding-bottom: 236px !important;
  }
}

@media (min-width: 1200px) {

}
</style>

         <div style="background: url('img/header1.jpg') no-repeat;background-size: cover;" class="slider-form large-desktop">
            <div style="padding-bottom: 16px;" class="container">
               <br/>
<script type="text/javascript">
var text = 'Find Your Next Home';

  $(document).ready(function(){
    setTimeout(function(){
      if($("body").width() > 700) {
        $("#main-headline").text('Find Your Next Home');
      }
    }, 500);
  });
</script>

               <h1 id="main-headline" class="text-center text-white mb-5">Find a Home</h1>
<form>

<div ng-if="!isDesktop">
    
                  <div style="padding-left: 15px; padding-right: 15px; margin-bottom: 10px;" class="row no-gutters">
                     <div class="col-md-12">
                        <div class="input-group">
                           <div class="input-group-addon"><i class="mdi mdi-map-marker-multiple"></i></div>
                           <input id="search-mobile-input" class="form-control" placeholder="Address, City or MLS #" type="text">
                        </div>
                     </div>
                  </div>

                  <div style=" padding-left: 15px; padding-right: 15px; margin-bottom: 10px;" class="row no-gutters">
                     <div style="padding-left: 15px; padding-right: 15px;" class="col-md-12">
                        <div style="height: 58px !important;" class="input-group">
                           <select id="neighborhood-mobile" style="height: 58px;" class="form-control" tabindex="-1" aria-hidden="true">
                              <option value="backbay">Nieghborhoods</option>
                              <option value="backbay">Back Bay</option>
                              <option value="beaconhill">Beacon Hill</option>
                              <option value="brighton">Brighton</option>
                              <option value="charlestown">Charlestown</option>
                              <option value="chinatown">Chinatown</option>
                              <option value="downtown">Downtown</option>
                              <option value="dorchester">Dorchester</option>
                              <option value="eastboston">East Boston</option>
                              <option value="fenway">Fenway</option>
                              <option value="financialdistrict">Financial District</option>
                              <option value="hydepark">Hyde Park</option>
                              <option value="kenmore">Kenmore</option>
                              <option value="missionhill">Mission Hill</option>
                              <option value="northend">North End</option>
                              <option value="roslindale">Roslindale</option>
                              <option value="roxbury">Roxbury</option>
                              <option value="seaport">Seaport</option>
                              <option value="southboston">South Boston</option>
                              <option value="southend">South End</option>
                              <option value="westend">West End</option>
                              <option value="westroxbury">West Roxbury</option>
                              <option value="" disabled>Greater Boston Area</option>
                              <option value="brookline">Brookline</option>
                              <option value="cambridge">Cambridge</option>
                              <option value="dedham">Dedham</option>
                              <option value="lexington">Lexington</option>
                              <option value="marblehead">Marblehead</option>
                              <option value="natick">Natick</option>
                              <option value="needham">Needham</option>
                              <option value="newton">Newton</option>
                              <option value="quincy">Quincy</option>
                              <option value="revere">Revere</option>
                              <option value="somerville">Somerville</option>
                              
                              <option value="waltham">Waltham</option>
                              <option value="watertown">Watertown</option>
                              <option value="wellesley">Wellesley</option>
                              <option value="weston">Weston</option>
                              <option value="winthrop">Winthrop</option>
                           </select>
                        </div>
                     </div>
                  </div>
 <div style=" padding-left: 15px; padding-right: 15px; margin-bottom: 10px;" class="row no-gutters">
                     <div style="padding-left: 15px; padding-right: 15px;" class="col-md-12">
                        <div style="height: 58px;" class="input-group">
                           <select id="listingtype-mobile" style="height: 58px;" class="form-control" tabindex="-1" aria-hidden="true">
                              <option value="">Listing Type</option>
                              <option value="forsale">Condos</option>
                              <option value="lease">Rentals</option>
                              <option value="singlefamily">Single Family</option>
                              <option value="multifamily">Multi Family</option>
                              <option value="commercial">Commercial</option>
                           </select>
                        </div>
                     </div>
                  </div>
                  <div style="padding-left: 15px; padding-right: 15px; margin-bottom: 10px;" class="row no-gutters">
                     <div class="col-md-12">
                        <button id="search-mobile" class="btn btn-success btn-block no-radius font-weight-bold">SEARCH</button>
                     </div>
                  </div>
</div>


<div ng-if="isDesktop">

                  <div class="row no-gutters">
                     <div class="col-md-1">
                     </div>
                     <div class="col-md-4">
                        <div style="height: 58px;" class="input-group">
                           <div class="input-group-addon"><i class="mdi mdi-map-marker-multiple"></i></div>
                           <input id="search" class="form-control" placeholder="Search by Address, City, Zip Code or MLS #"" type="text">
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div style="height: 58px;" class="input-group">
                           <select id="neighborhood-desktop" style="height: 58px; padding-left: 15px;" class="form-control no-radius">
                              <option value="">Neighborhood</option>
                              <option value="backbay">Back Bay</option>
                              <option value="beaconhill">Beacon Hill</option>
                              <option value="brighton">Brighton</option>
                              <option value="charlestown">Charlestown</option>
                              <option value="chinatown">Chinatown</option>
                              <option value="downtown">Downtown</option>
                              <option value="dorchester">Dorchester</option>
                              <option value="eastboston">East Boston</option>
                              <option value="fenway">Fenway</option>
                              <option value="financialdistrict">Financial District</option>
                              <option value="hydepark">Hyde Park</option>
                              <option value="kenmore">Kenmore</option>
                              <option value="missionhill">Mission Hill</option>
                              <option value="northend">North End</option>
                              <option value="roslindale">Roslindale</option>
                              <option value="roxbury">Roxbury</option>
                              <option value="seaport">Seaport</option>
                              <option value="southboston">South Boston</option>
                              <option value="southend">South End</option>
                              <option value="westend">West End</option>
                              <option value="westroxbury">West Roxbury</option>
                              <option value="" disabled>Greater Boston Area</option>
                              <option value="brookline">Brookline</option>
                              <option value="cambridge">Cambridge</option>
                              <option value="dedham">Dedham</option>
                              <option value="lexington">Lexington</option>
                              <option value="marblehead">Marblehead</option>
                              <option value="natick">Natick</option>
                              <option value="needham">Needham</option>
                              <option value="newton">Newton</option>
                              <option value="quincy">Quincy</option>
                              <option value="revere">Revere</option>
                              <option value="somerville">Somerville</option>
                              
                              <option value="waltham">Waltham</option>
                              <option value="watertown">Watertown</option>
                              <option value="wellesley">Wellesley</option>
                              <option value="weston">Weston</option>
                              <option value="winthrop">Winthrop</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-2">
                        <div style="height: 58px;" class="input-group">
                           <select id="listingtype-desktop" style="height: 58px;" class="form-control" aria-hidden="true">
                              <option value="">Listing Type</option>
                              <option value="forsale">Condos</option>
                              <option value="lease">Rentals</option>
                              <option value="singlefamily">Single Family</option>
                              <option value="multifamily">Multi Family</option>
                              <option value="commercial">Commercial</option>
                           </select>
                        </div>
                     </div>
                     <div class="col-md-2">  
                        <button id="search-desktop" class="btn btn-success btn-block no-radius font-weight-bold">SEARCH</button>
                     </div>
                  </div>
</div> <!-- ng if desktop -->
               </form>
               <br/>
            </div>
         </div>
      </section>
    <style type="text/css">
      .text-success {
        margin-top: 8px !important;
      }

      @media (max-width: 600px) {
        .tenpx-margin-mobile {
          margin-top: 10px;
        }
      }

    </style>
      <!-- End Main Slider With Form -->
      <!-- Properties List -->
      <section class="section-padding">
         <div class="tenpx-margin-mobile section-title text-center mb-4">
            <h2>Premier Properties</h2>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
         </div>
         <div class="container">
            <div class="row">
               <div ng-repeat="listing in featuredListingsRowA" class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a style="padding-bottom: 12px;" href="#" ng-click="navigate(listing.LIST_NO)">
                        <!--<span class="badge badge-success">For Sale</span>-->
                        <img style="height: 233px;" class="card-img-top" src="{{listing.imageSourceOne}}">
                        <div style="padding-bottom: 2px;" class="card-body">
                           <h5 style="display: inline-block;" class="card-title">{{listing.STREET_NO}} {{listing.STREET_NAME}}
                           <h2 style="display: inline-block;float:right;" class="text-success">
                              {{listing.LIST_PRICE}} <small></small>
                           </h2>
                           </h5>
                           <h6 class="card-subtitle text-muted">
                            <!--
                           <i class="mdi mdi-home-map-marker"></i>
                           -->
                           Boston, MA {{listing.ZIP_CODE}}</h6>
                        </div>
                        <!--<div class="card-footer">-->
                        <div style="padding-bottom: 12px; justify-content: center; width: 100%; display: flex; align-items: center;  text-align: center;
    padding: 5px;" class="">
                           <span style="display:inline-block;font-size: 12px;">
                           <!--
                           <i class="mdi mdi-sofa"></i> 
                           -->
                           Beds : <strong style="font-size: 12px;">{{listing.NO_BEDROOMS}}</strong> | </span>
                           <span style="display:inline-blockont-size: 12px; display:inline-block;">
                           <!--
                           <i class="mdi mdi-scale-bathroom"></i> 
                            -->
                              Baths : <span>{{listing.NO_FULL_BATHS}}f / {{listing.NO_HALF_BATHS}}</span>
                           |</span>
                           <span style="font-size: 12px; display:inline-block;">
                           <!--
                           <i class="mdi mdi-move-resize-variant"></i> 
                           -->
                           Area : <strong style="font-size: 12px;">{{listing.SQUARE_FEET}} SF<sup>2</sup></strong>
                           </span>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
            <div class="mobile row">
               <div ng-repeat="listing in featuredListingsRowB"  class="col-lg-4 col-md-4">
                  <div class="card card-list">
                     <a style="padding-bottom: 12px;" href="#" ng-click="navigate(listing.LIST_NO)">
                        <!--<span class="badge badge-success">For Sale</span>-->
                        <img style="height: 233px;" class="card-img-top" src="{{listing.imageSourceOne}}">
                        <div style="padding-bottom: 2px;" class="card-body">
                           <h5 style="display:inline-block;" class="card-title">{{listing.STREET_NO}} {{listing.STREET_NAME}}

                           <h2 style="display: inline-block; float: right;" class="text-success">
                              {{listing.LIST_PRICE}} <small></small>
                           </h2>
                           </h5>
                           <h6 class="card-subtitle text-muted">
                           <!--
                           <i class="mdi mdi-home-map-marker"></i>
                           -->
                           Boston, MA {{listing.ZIP_CODE}}</h6>
                        </div>

                        <!--<div class="card-footer">-->
                        <div style="    width: 100%;
    display: flex;
    padding-bottom: 12px;
    text-align: center;
    padding: 5px;
    justify-content: center;" class="">
                           <span style="display: inline-block;font-size: 12px;">
                           <!--
                           <i class="mdi mdi-sofa"></i> 
                           -->
                           Beds : <strong style="font-size: 12px;">{{listing.NO_BEDROOMS}}</strong> |</span>
                           <span style="display: inline-block;font-size: 12px;">
                           <!--
                           <i class="mdi mdi-scale-bathroom"></i> 
                           -->
                              Baths : <span>{{listing.NO_FULL_BATHS}}f / {{listing.NO_HALF_BATHS}}h |</span>
                           </span>
                           <span style="display: inline-block;font-size: 12px;" >
                           <!--
                           <i class="mdi mdi-move-resize-variant"></i> 
                           -->
                           Area : <strong style="font-size: 12px;">{{listing.SQUARE_FEET}} SF<sup style="font-size: 12px;">2</sup></strong></span>
                        </div>
                     </a>
                  </div>
               </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Properties List -->
      <!-- Properties by City -->
      <section class="section-padding bg-white">
         <div class="section-title text-center mb-5">
            <h2>Property by Neighborhood</h2>
            <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8">
                  <div class="card bg-dark text-white card-overlay">
                     <a href="listing.html?neighborhood=beaconhill&listingtype=forsale">
                        <img class="card-img" src="img/beaconhill.jpg" >
                        <div class="card-img-overlay">
                           <h3 class="card-title text-white">Beacon Hill</h3>
                           <!--<p class="card-text text-white">16 Properties</p>-->
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card bg-dark text-white card-overlay">
                     <a href="listing.html?neighborhood=northend&listingtype=forsale">
                        <img class="card-img" src="img/northend.jpg" >
                        <div class="card-img-overlay">
                           <h3 class="card-title text-white">North End</h3>
                           <!--<p class="card-text text-white">16 Properties</p>-->
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>

<div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card bg-dark text-white card-overlay">
                     <a href="listing.html?neighborhood=southend&listingtype=forsale">
                        <img class="card-img" src="img/southend.jpg" >
                        <div class="card-img-overlay">
                           <h3 class="card-title text-white">South End</h3>
                           <!--<p class="card-text text-white">16 Properties</p>-->
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-8 col-md-8">
                  <div class="card bg-dark text-white card-overlay">
                     <a href="listing.html?neighborhood=backbay&listingtype=forsale">
                        <img class="card-img" src="img/backbay.jpg" >
                        <div class="card-img-overlay">
                           <h3 class="card-title text-white">Back Bay</h3>
                           <!--<p class="card-text text-white">16 Properties</p>-->
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Properties by City -->
      <!-- Trusted Agents -->
      <section class="section-padding">
         <div class="section-title text-center mb-4">
            <h2>Trusted Agents</h2>
            <!--
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            -->
         </div>
         <div class="container">
            <div class="row">
               <!--
               <div class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <img class="img-fluid mb-4" src="img/user/1.jpg" alt="">
                     <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="mb-0 text-success">- Stave Martin</h6>
                     <small>Buying Agent</small>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <img class="img-fluid mb-4" src="img/user/2.jpg" alt="">
                     <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                     <h6 class="mb-0 text-success">- Mark Smith</h6>
                     <small>Selling Agent</small>
                  </div>
               </div>
               -->
               <div style="margin: 0 auto" class="col-lg-4 col-md-4">
                  <div class="agents-card text-center">
                     <img style="height: 150px;" class="img-fluid mb-4" src="img/agent.jpg">
                     <p style="font-size: 16px;" class="mb-4">
                     "Customer satisfaction is our highest priority.  We set the standard for premium service, and we are happy to facilitate all of your real estate releated needs"</p>

                     <h6 style="font-size: 18px;" class="mb-0 text-success">- Gregory Zanette</h6>
                     <p style="font-size: 16px;margin-bottom: 0px;">Real Estate Broker</p>
                     <a style="font-size: 16px;" class="mb-4" href="mailto:greg@ovation.properties">greg@ovation.properties</a>
                     <br/>
                     <a style="font-size: 16px;" class="mb-4" href="tel:+19145570460">(914) 557-0460</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Contact form JavaScript -->
      <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
      <!--
      <script src="js/jqBootstrapValidation.js"></script>
      <script src="js/contact_me.js"></script>
      -->
      <!-- select2 Js -->
      <!--
      <script src="vendor/select2/js/select2.min.js"></script>
      -->
      <!-- Custom -->
      <!--
      <script src="js/custom.js"></script>
      -->
<script type="text/javascript">
$(document).ready(function(){

var x = document.referrer;
console.log(x);

setTimeout(function(){
   var queryKeys = simpleQueryString.parse(window.location.search)
   
   if(queryKeys.neighborhoods) {
    queryKeys.neighborhood = queryKeys.neighborhoods;
   }


   if(queryKeys.neighborhood === undefined) {
    queryKeys.neighborhood = false;
   }

   if(queryKeys.listingtype === undefined) {
    queryKeys.listingtype = false;
   }

   if(queryKeys.neighborhood && queryKeys.listingtype) {
      window.location.href="/listing.html?neighborhood=" + queryKeys.neighborhood + "&" + "listingtype=" + queryKeys.listingtype;
   } else if (queryKeys.neighborhood) {
      window.location.href="/listing.html?neighborhood=" + queryKeys.neighborhood + "&" + "listingtype=" + queryKeys.listingtype;
   } else if (queryKeys.listingtype) {
      window.location.href="/listing.html?neighborhood=" + queryKeys.neighborhood + "&" + "listingtype=" + queryKeys.listingtype;
   }
}, 500);

   $('#search-desktop').on('click', function(){
      var n = $('#neighborhood-desktop').val();
      var l = $('#listingtype-desktop').val();
      var s = $('#text-search').val();
      // if(s.length > 1){
      //   window.location.href="/?neighborhoods=" + n + "&" + "listingtype=" + l + "&s=" + s;
      // } else {
         window.location.href="/listing.html?neighborhood=" + n + "&" + "listingtype=" + l;
      // }
   });

   $('#search-mobile').on('click', function(){
      var n = $('#neighborhood-mobile').val();
      var l = $('#listingtype-mobile').val();
      var s = $('#text-search').val();
      // if(s.length > 1){
      //   window.location.href="/?neighborhoods=" + n + "&" + "listingtype=" + l + "&s=" + s;
      // } else {
         window.location.href="listing.html/?neighborhood=" + n + "&" + "listingtype=" + l;
      // }
   });
})

</script>
<script type="text/javascript" src="select2.min.js"></script>
</body>
</html>

